@using SisMot.Helpers
@inject BingMap bing
@model List<SisMot.Models.CustomModels.EditMotelDTO>
@{
    ViewData["Title"] = "SISMOT";
}
<div class="container-fluid">
    <div class="row">
        <div style="margin-left:-370px;" class="col-md-10">
            <div class="row">
                @foreach (var motel in Model)
                {
                    <div style="height:320px; width:280px; margin:10px; background-color:bisque;" class="card">
                        <div id="@motel.MotelId" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @if (motel.PhotosPaths != null)
                                {
                                    <div class="carousel-item active">
                                        <img style="height:150px; width:150px; margin-left:auto; margin-top:10px;" class="d-block w-100" src="../@Url.Content(motel.PhotosPaths.FirstOrDefault())" alt="...">
                                    </div>
                                    @foreach (var photo in motel.PhotosPaths)
                                    {
                                        <div class="carousel-item">
                                            <img style="height:150px; width:150px; margin-left:auto; margin-top:10px;" class="d-block w-100" src="../@Url.Content(photo)" alt="...">
                                        </div>
                                    }
                                }
                                else
                                {
                                    <img style="height:150px; width:150px; margin-left:auto; margin-top:10px;" src="../Resources/img/motel2.jpg" alt="Imagen predeterminada">
                                }
                            </div>
                            <a class="carousel-control-prev" href="#@motel.MotelId" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@motel.MotelId" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="modal-title">@motel.MotelName</h4>
                            <div class="form-group">
                                <label class="form-label">Precio: Bs.</label>
                                <label>@motel.MotelPrice</label>
                                <br/>
                                <a style="color: #4F3803; font-family: Oswald; font-size:20px; background-color:tan; border-color:tan" asp-action="Details" asp-route-id="@motel.MotelId" asp-controller="Motel" class="btn">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div id="map" dropzone="" style="width: 700px; height: 800px;"></div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type='text/javascript'>

        const txtLatitude = document.getElementById('txtLatitude');
        const txtLongitude = document.getElementById('txtLongitude');
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('map'), {
                center: new Microsoft.Maps.Location(-17.393496874429385, -66.15692841770928),
                credentials: '@bing.Key',
                zoom: 15
            });
            // Microsoft.Maps.Events.addHandler(map, 'click', (e) => {
            //     map.entities.clear();
            //
            //     var location = e.location;
            //
            //     // Crea un pin en esa ubicación
            //     var pin = new Microsoft.Maps.Pushpin(location);
            //
            //     // Añade el pin al mapa
            //     map.entities.push(pin)
            //     txtLatitude.value = location.latitude;
            //     txtLongitude.value = location.longitude;
            // })
            
           @foreach (var motel in Model) {
               <text>
                   var location = new Microsoft.Maps.Location(
                       @motel.MotelLatitude.ToString(System.Globalization.CultureInfo.InvariantCulture), 
                       @motel.MotelLongitude.ToString(System.Globalization.CultureInfo.InvariantCulture));
                   var pushpin = new Microsoft.Maps.Pushpin(location, {
                       title: '@motel.MotelName'
                   });
                   map.entities.push(pushpin);
               </text>
           }
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=@bing.Key&callback=loadMapScenario' async defer></script>
}